/Valerio/Java/NetBeans/AnagramGame/nbproject/private/
/Valerio/Java/NetBeans/AnagramGame/build/
/Valerio/Java/NetBeans/EsercitazioneVettori2020/nbproject/private/
/Valerio/Java/NetBeans/EsercitazioneVettori2020/build/
/Valerio/Java/NetBeans/EsercitazioneVettori2020/dist/
/Valerio/Python/.idea
/Valerio/Python/venv
/Valerio/Python/__pycache__
/Valerio/Java/corso_java_bemporad/Exceptions_Finally
/Valerio/Java/NetBeans/FagioliGrafico2020/nbproject/private/
/Valerio/Java/NetBeans/FagioliGrafico2020/build/